In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import matplotlib.pyplot as plt
import seaborn as sns
import pypyodbc as odbc
import squarify
import pyodbc
import glob
import os
from sklearn.linear_model import LinearRegression #mô hình hồi quy tuyến tính
import statistics as sta
import math
import requests
from io import StringIO
print('Completed import lib')

Completed import lib

In [2]:
os.chdir('../ami_price_data')

extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

#combine all files in the list
ami_price = pd.concat([pd.read_csv(f) for f in all_filenames ])
ami_price['Date'] = pd.to_datetime(ami_price['Date/Time'],format='%m/%d/%Y %H:%M:%S')
ami_price['year'] = pd.DatetimeIndex(ami_price['Date/Time']).year
ami_price.reset_index(drop=True,inplace=True)
ami_price.to_csv( '..\\BCTC_data_done\\ami_pirce.csv', index=True, encoding='utf-8-sig')
ami_price

,Ticker,Date/Time,Open,High,Low,Close,Volume,Date,year
0,AAA,7/16/2010 00:00:00,12.2142,12.2142,11.4740,11.4740,109200.0,2010-07-16,2010
1,AAA,7/19/2010 00:00:00,12.2142,12.2142,11.4246,11.4246,104900.0,2010-07-19,2010
2,AAA,7/20/2010 00:00:00,11.8441,11.8441,10.9805,11.1532,328700.0,2010-07-20,2010
3,AAA,7/21/2010 00:00:00,11.1532,11.2025,10.8571,11.1285,75800.0,2010-07-21,2010
4,AAA,7/22/2010 00:00:00,11.1285,11.8441,11.1038,11.1285,147200.0,2010-07-22,2010
...,...,...,...,...,...,...,...,...,...
2319923,YTC,3/11/2022 00:00:00,67.9000,67.9000,67.9000,67.9000,400.0,2022-03-11,2022
2319924,YTC,3/17/2022 00:00:00,65.6000,65.6000,65.6000,65.6000,100.0,2022-03-17,2022
2319925,YTC,3/18/2022 00:00:00,66.0000,66.0000,65.6000,66.0000,200.0,2022-03-18,2022
2319926,YTC,3/31/2022 00:00:00,74.5000,74.5000,74.5000,74.5000,100.0,2022-03-31,2022
2319927,YTC,4/4/2022 00:00:00,74.5000,75.0000,74.5000,75.0000,400.0,2022-04-04,2022